useDynLib(cpbayes, .registration=TRUE)
importFrom(Rcpp, evalCpp)
S3method(summary, cpbayes)
S3method(plot, cpbayes)
importFrom("stats", "model.frame", "model.matrix", "model.response", "quantile", "sd")
importFrom("magrittr", "%>%")
importFrom("dplyr", "group_by", "summarise")
importFrom("tidyr", "pivot_longer")
export(fitcpbayes)
export(rcompois)
importFrom("rlang", ".data")
importFrom("ggplot2", "ggplot", "aes", "geom_density", "theme_bw", "facet_wrap", "geom_line")